// ----------------------------------------------------- Resize Window Over-Lay

html.touch > body > [data-chapter="mobile_alert"] {
  //display: none !important;
  //visibility: hidden !important;

  @media all and (min-width: 320px) and (max-width: 560px) {
    //display: none;
    //visibility: hidden
	}

	//@media all and (min-width: 561px) and (max-width: 3000px) {
 	@media all and (min-width: 320px) and (max-width: 560px) {
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 999999;
		display: block !important;
		visibility: visible !important;
		width: 100%;
		height: 100%;
		background: none;
		background-color: $gray;
		background-position: center 35%;

		.center_all {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			overflow: hidden;
			margin: auto !important;
			width: auto;
			height: 320px;
			background: url(../images/rotate_mobile.png) no-repeat;
			background-position: center 35%;
			//overflow: auto;

			p {
				position: absolute;
				bottom: 0;
				width: 100%;
				color: #fff;
				text-align: center;
				font-size: 1.125em !important;
			}
		}
	}
}